@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Balsamiq+Sans&family=Dancing+Script:wght@600&family=Dongle&family=Lato&family=Open+Sans:wght@300&family=Roboto:wght@400;500&display=swap');

@import url(drawer.css);
:root{
    --theme-gradient:linear-gradient(to right, rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33));
    --primary-color:rgb(233, 64, 87);
    --side-width:260px;
    --halfed-border-color:rgba(150, 150, 150, 0.319);
    --hover-background:rgba(233, 64, 87, 0.163);
    --component-text-color:rgba(74, 74, 74, 0.728);
    --header-text-color:rgba(73, 72, 72, 0.87);
    --heading-colors:rgb(29, 28, 28);
}


*{
    margin: 0;
    padding: 0;
    
}

body{
    height: 100vh;
    font-family: 'Dongle', sans-serif;
}

.header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--halfed-border-color);
}

.header_contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
} 


.header_list{
    display: flex;
    width: 60%;
    list-style: none;
    align-items: center;
    font-size: 28px;
    color: var(--header-text-color);
}


.header_list li{
    margin: 0 25px 0;
}

.header_list li:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header_icons{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    list-style: none;
    align-items: center;
    color: var(--header-text-color);
    font-size: 20px;
    margin-right: 60px;
}

.header_icons li{
    margin: 15px;
    display: flex;
    justify-content: center;
}
.header_icons li:hover{
   color: var(--primary-color);
    cursor: pointer
}

.logo{
    background:var(--theme-gradient);
    height: 100%;
    width: var(--side-width);
    font-size: 35px;
    background-clip: text;
    color: transparent;
    display: flex;
    margin-left:40px ;
    align-items: center;
    font-family: 'Dancing Script';
}

.main_body{
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*intro-box*/
.intro_box{
    height: 500px;
    width: 500px;
    
    margin: 8px 60px;
    border-radius: 10px;
}

.intro_box h1{
    color: var(--heading-colors);
    font-size: 4rem;
    height: 75px;
}

.intro_box p{
    color: var(--component-text-color);
    font-size: 2rem;
    line-height: 1.1;
}




